@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}

.header {
  @apply font-bold text-2xl md:text-4xl;
}

.address {
  @apply flex gap-1 items-center border rounded-lg p-1 transition-all bg-white;
}

.address:hover {
  @apply -translate-y-0.5 border-zinc-400;
}

.card {
  @apply shadow-sm transition-all bg-white border rounded-lg;
}

.card:hover {
  @apply shadow-2xl -translate-y-2
}

.animate-rainbow-text {
  background: linear-gradient(
    to right,
    #ff0000, #ff8000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000
  );
  background-size: 800% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-slide 15s linear infinite;
}

@keyframes rainbow-slide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-1 * var(--scroll-distance, 0px)));
    }
}

.animate-scroll-left {
    animation: scroll-left 10s linear infinite;
}